body {
    padding: 2em;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-width: 512px;
    flex-direction: column;
}
h1 {
    color: orange;
}

button {
    margin-top: .5em;
}

.meta {
    display: flex;
    justify-content: space-around;
}
.meta p {
    text-transform: uppercase;
}

.notice {
    text-align: center;
}